.landing__inner-left-btn, .services__inner-button, .providers__inner-item-article-button, .article__inner-button {
  outline: none;
  border: 1px solid #458FF6;
  cursor: pointer;
  background: white;
  border-radius: 55px;
  color: #458FF6;
  font-family: "mulish";
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  width: 200px;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__inner-left-btn:hover, .services__inner-button:hover, .providers__inner-item-article-button:hover, .article__inner-button:hover {
  color: white;
  background-color: #458FF6;
  transition: 0.4s;
}

.services__inner-article-big::after, .providers__inner-item-article-big::after, .testimonials__inner-item-title::after, .article__inner-title::after {
  content: "";
  border-bottom: 2px solid black;
  width: 56px;
  display: block;
  margin-top: 26px;
  margin-bottom: 33px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1220px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

.header {
  padding-top: 35px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__inner-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__inner-logo-t {
  background-color: #458FF6;
  font-family: "mulish";
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #FFFFFF;
  width: 41px;
  height: 41px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.header__inner-menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.header__inner-menu-item {
  font-family: "mulish";
  font-size: 18px;
  line-height: 23px;
  opacity: 0.5;
  margin-right: 40px;
  transform: scale(1);
  transition: 0.2s;
}

.header__inner-menu-item:last-child {
  margin-right: 0px;
}

.header__inner-menu-item:hover {
  opacity: 1;
  text-decoration: underline;
  transform: scale(1.1);
  transition: 0.4s;
}

.header__inner-menu-item-link {
  text-decoration: none;
  color: #000000;
}

.landing {
  padding-top: 85px;
}

.landing__dots {
  background-image: url(../img/dots.svg);
  height: 115px;
  width: 131px;
  position: absolute;
  transform: translate(-150%, 40%);
}

.landing__inner {
  display: flex;
  justify-content: space-between;
}

.landing__inner-left {
  padding-top: 150px;
}

.landing__inner-left-article-big {
  font-family: "mulish";
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  margin-bottom: 25px;
  width: 427px;
}

.landing__inner-left-article-small {
  font-family: "mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
  margin-bottom: 45px;
  width: 500px;
}

.landing__inner-right {
  background-image: url(../img/illustration1.svg);
  height: 598px;
  width: 693px;
  transform: translate(70px, 0px);
}

.services {
  padding-top: 192px;
}

.services__vector {
  background-image: url(../img/vector.svg);
  height: 671px;
  width: 937px;
  position: absolute;
  transform: rotate(21.46deg) translate(-350px, 40%);
  opacity: 92.66%;
  z-index: -100;
  background-repeat: no-repeat;
}

.services__dots {
  background-image: url(../img/dots.svg);
  height: 115px;
  width: 131px;
  position: absolute;
  background-repeat: no-repeat;
  transform: translate(1100px, 500%);
  z-index: -100;
}

.services__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__inner-article-big {
  font-family: "mulish";
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services__inner-article-small {
  font-family: "mulish";
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #7D7987;
  margin-bottom: 80px;
  width: 950px;
}

.services__inner-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 36px;
  padding-bottom: 69px;
}

.services__inner-grid-item {
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  height: 354px;
  width: 350px;
  padding-top: 54px;
  padding-left: 39px;
  padding-right: 45px;
  padding-bottom: 46px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}

.services__inner-grid-item:hover {
  background-color: rgba(69, 143, 246, 0.5);
  transform: scale(1.02);
  transition: 0.4s;
}

.services__inner-grid-item-img {
  position: absolute;
}

.services__inner-grid-item-article {
  position: relative;
  padding-top: 110px;
}

.services__inner-grid-item-big {
  font-family: "mulish";
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
}

.services__inner-grid-item-small {
  font-family: "mulish";
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}

.providers {
  padding-top: 220px;
}

.providers__dots {
  background-image: url(../img/dots.svg);
  height: 115px;
  width: 131px;
  position: absolute;
  background-repeat: no-repeat;
  transform: translate(1300px, 530px);
  z-index: -100;
}

.providers__inner-item {
  display: flex;
  justify-content: space-between;
}

.providers__inner-item-img {
  transform: translate(-100px, 0px);
}

.providers__inner-item-img2 {
  transform: translate(130px, 0px);
}

.providers__inner-item:first-child {
  margin-bottom: 220px;
  padding-right: 40px;
}

.providers__inner-item:last-child {
  flex-direction: row-reverse;
  padding-left: 40px;
}

.providers__inner-item-article {
  padding-top: 70px;
}

.providers__inner-item-article-big {
  font-family: "mulish";
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}

.providers__inner-item-article-small {
  font-family: "mulish";
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  margin-bottom: 25px;
  width: 300px;
}

.providers__inner-item-article-button-arrow {
  margin-left: 10px;
}

.testimonials {
  padding-top: 260px;
}

.testimonials__inner {
  display: flex;
  flex-direction: column;
}

.testimonials__inner-dots {
  background-image: url(../img/dots.svg);
  height: 115px;
  width: 131px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -100;
  transform: translate(-50px, 250%);
}

.testimonials__inner-item {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-left: 118px;
  padding-right: 118px;
  padding-bottom: 79px;
  position: relative;
  margin-bottom: 42px;
}

.testimonials__inner-item-dots {
  background-image: url(../img/dots2.svg);
  height: 115px;
  width: 131px;
  position: absolute;
  background-repeat: no-repeat;
  transform: translate(1020px, -70%);
}

.testimonials__inner-item-title {
  font-family: "mulish";
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials__inner-item-title::after {
  border-bottom: 2px solid white;
}

.testimonials__inner-item-article {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 66px;
}

.testimonials__inner-item-article-name {
  font-family: "mulish";
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}

.testimonials__inner-item-article-name-small {
  font-family: "mulish";
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.testimonials__inner-item-article-main {
  font-family: "mulish";
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}

.testimonials__slider {
  display: flex;
  justify-content: space-between;
  width: 336px;
  align-self: center;
}

.testimonials__slider-ellipse1 {
  margin-right: 20px;
}

.testimonials__slider-dots {
  display: flex;
}

.article {
  padding-top: 222px;
  padding-bottom: 200px;
}

.article__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__inner-dots {
  background-image: url(../img/dots.svg);
  height: 115px;
  width: 131px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -100;
  transform: translate(-600px, 125px);
}

.article__inner-dots2 {
  background-image: url(../img/dots.svg);
  height: 115px;
  width: 131px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -100;
  transform: translate(550px, 950px);
}

.article__inner-vector {
  background-image: url(../img/vector2.svg);
  height: 671px;
  width: 937px;
  position: absolute;
  transform: translate(770px, 100px);
  opacity: 92.66%;
  z-index: -100;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
}

.article__inner-title {
  text-align: center;
  font-family: "mulish";
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__inner-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 58px;
  padding-bottom: 69px;
}

.article__inner-grid-item {
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background: white;
}

.article__inner-grid-item-img {
  background-image: url(../img/article1.svg);
  height: 246px;
  width: 369px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.article__inner-grid-item-img2 {
  background-image: url(../img/article2.svg);
  height: 246px;
  width: 369px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.article__inner-grid-item-img3 {
  background-image: url(../img/article3.svg);
  height: 246px;
  width: 369px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.article__inner-grid-item-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 24px;
  padding-left: 33px;
  padding-bottom: 35px;
}

.article__inner-grid-item-article-big {
  font-family: "mulish";
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 12px;
}

.article__inner-grid-item-article-small {
  font-family: "mulish";
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #3c3942;
  margin-bottom: 25px;
}

.article__inner-grid-item-article-link {
  font-family: "mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ED;
  mix-blend-mode: normal;
  text-decoration: none;
  transform: translatex(0px);
  transition: 0.2s;
}

.article__inner-grid-item-article-link-arrow {
  margin-left: 10px;
}

.article__inner-grid-item-article-link:hover {
  transform: translatex(10px);
  color: #1e4b8a;
  text-decoration: underline;
  transition: 0.4s;
}

.footer {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  padding-top: 119px;
  padding-bottom: 113px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.footer__inner-dots {
  background-image: url(../img/dots2.svg);
  height: 115px;
  width: 131px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 100;
  transform: translate(-130px, 220px);
}

.footer__inner-article-logo {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.footer__inner-article-logo:hover > .footer__inner-article-logo-t {
  transform: rotate(360deg);
  transition: 0.5s;
}

.footer__inner-article-logo-t {
  background: white;
  padding: 20px;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "mulish";
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #5B9BF3;
  margin-right: 5px;
  transform: rotate(0deg);
  transition: 0.4s;
}

.footer__inner-article-logo-text {
  font-family: "mulish";
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer__inner-article-main {
  font-family: "mulish";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 31px;
}

.footer__inner-article-copyright {
  font-family: "mulish";
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer__inner-list {
  list-style: none;
}

.footer__inner-list a {
  text-decoration: none;
  font-family: "mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #FFFFFF;
}

.footer__inner-list a:hover {
  color: #3c3942;
  text-decoration: underline;
  transition: 0.4s;
}

.footer__inner-list-item-title {
  font-family: "mulish";
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  color: #FFFFFF;
}

@media (max-width: 1250px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  .landing__inner-right {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .services {
    padding-top: 20px;
  }
  .services__dots {
    display: none;
  }
  .services__vector {
    display: none;
  }
  .providers {
    padding-top: 100px;
  }
  .providers__dots {
    display: none;
  }
  .providers__inner-item-img {
    width: 600px;
  }
  .providers__inner-item:first-child {
    margin-bottom: 100px;
  }
  .testimonials {
    padding-top: 100px;
  }
  .testimonials__inner-item-article {
    padding-top: 0px;
  }
  .testimonials__inner-item-dots {
    display: none;
  }
  .article {
    padding-top: 100px;
  }
  .article__inner-vector {
    display: none;
  }
  .article__inner-dots2 {
    display: none;
  }
}

@media (max-width: 1230px) {
  .services__inner-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 36px;
    padding-bottom: 69px;
  }
  .article__inner-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 58px;
    padding-bottom: 69px;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 800px;
    margin: 0 auto;
  }
  .header__inner-burger {
    display: block;
    margin-left: 25px;
    margin-right: 15px;
  }
  .header__inner-burger span {
    display: block;
    border: 2px solid #458FF6;
    width: 20px;
    border-radius: 15px;
    margin-bottom: 2px;
  }
  .header__inner-logo-text {
    display: none;
  }
  .header__inner-menu {
    display: none;
  }
  .landing__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .landing__inner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .landing__inner-left-article-big {
    width: auto;
    text-align: center;
  }
  .landing__inner-left-article-small {
    width: 500px;
    text-align: center;
  }
  .landing__inner-right {
    position: absolute;
    z-index: -100;
    opacity: 0.1;
  }
  .services {
    padding-top: 100px;
  }
  .services__inner-grid-item {
    text-align: center;
  }
  .services__inner-grid-item-img {
    display: flex;
    align-self: center;
  }
  .services__inner-article-small {
    width: 600px;
  }
  .providers {
    padding-top: 40px;
  }
  .providers__inner-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .providers__inner-item-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .providers__inner-item-article-big {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .providers__inner-item-article-small {
    width: 500px;
    text-align: center;
  }
  .providers__inner-item-img {
    opacity: 0.1;
    position: absolute;
    z-index: -100;
    transform: translate(0px, 0px);
  }
  .providers__inner-item-img2 {
    opacity: 0.1;
    position: absolute;
    z-index: -100;
    transform: translate(0px, 0px);
  }
  .providers__inner-item:first-child {
    padding-right: 0px;
  }
  .providers__inner-item:last-child {
    padding-left: 0px;
  }
  .testimonials__inner-item p {
    text-align: center;
  }
  .testimonials__inner-item-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimonials__inner-item-article-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonials__inner-item-article-main {
    text-align: center;
  }
  .testimonials__slider {
    display: none;
  }
  .article {
    padding-top: 0px;
  }
}

@media (max-width: 810px) {
  .container {
    width: 500px;
  }
  .landing__inner-right {
    display: none;
  }
  .providers__inner-item-img {
    display: none;
  }
  .providers__inner-item-img2 {
    display: none;
  }
  .services__inner-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 58px;
    padding-bottom: 69px;
  }
  .services__inner-article-small {
    width: 300px;
  }
  .testimonials__inner-item-article-name-big {
    margin-bottom: 5px;
  }
  .testimonials__inner-item-article-name-small {
    margin-bottom: 20px;
  }
  .article {
    padding-bottom: 20px;
  }
  .article__inner-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .footer {
    padding-top: 10px;
  }
  .footer__inner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer__inner-dots {
    display: none;
  }
  .footer__inner-list {
    margin-bottom: 20px;
    background-color: rgba(54, 82, 118, 0.4);
    padding: 20px;
    border-radius: 50px;
    width: 200px;
  }
  .footer__inner-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .container {
    width: 300px;
  }
  .landing__inner-right {
    display: none;
  }
  .landing__inner-left {
    padding-top: 20px;
  }
  .landing__inner-left-article-big {
    width: 300px;
  }
  .landing__inner-left-article-small {
    width: 300px;
  }
  .services__vector {
    display: none;
  }
  .services__dots {
    display: none;
  }
  .article__inner-vector {
    display: none;
  }
  .article__inner-dots2 {
    display: none;
  }
  .article__inner-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .article__inner-grid-item {
    width: 320px;
  }
  .article__inner-grid-item-img {
    width: 320px;
  }
  .article__inner-grid-item-img2 {
    width: 320px;
  }
  .article__inner-grid-item-img3 {
    width: 320px;
  }
  .providers p {
    width: 300px;
  }
  .providers__inner-item-img {
    display: none;
  }
  .providers__inner-item-img2 {
    display: none;
  }
  .providers__inner-item-article {
    padding-top: 10px;
  }
  .testimonials {
    display: none;
  }
  .article {
    padding-top: 60px;
  }
}

@media (max-width: 350px) {
  .container {
    width: 300px;
  }
}
/*# sourceMappingURL=styles.css.map */