@import "vars";

* {
    box-sizing: border-box;
}

.container {
    width:1220px;
    margin:0 auto;

}

body {
    overflow-x: hidden;
}

.header {
    padding-top:35px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            &-t {
                background-color:#458FF6;
                font-family: $main-font;
                font-weight: bold;
                font-size: 26px;
                line-height: 33px;
                color: #FFFFFF;
                width: 41px;
                height: 41px;
                border-radius:100px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 12px;
            }
        }

        &-menu {
            display: flex;
            list-style:none;
            align-items: center;
            justify-content: center;

            &-item {
                font-family: $main-font;
                font-size: 18px;
                line-height: 23px;
                opacity: 0.5;
                margin-right:40px;
                transform:scale(1);
                transition:0.2s;

                &:last-child {
                    margin-right:0px;
                }

                &:hover {
                    opacity:1;
                    text-decoration: underline;
                    transform:scale(1.1);
                    transition:0.4s;
                }

                &-link {
                    text-decoration: none;
                    color: #000000;
                }
            }
        }
    }
}

.landing {

    &__dots {
        background-image:url(../img/dots.svg);
        height:115px;
        width:131px;
        position:absolute;
        transform: translate(-150%, 40%);

    }

    &__inner {
        display: flex;
        justify-content: space-between;
        &-left {
            padding-top:150px;

            &-article-big {
                font-family: $main-font;
                font-weight: bold;
                font-size: 48px;
                line-height: 56px;
                color: #000000;
                margin-bottom: 25px;
                width:427px;
            }

            &-article-small {
                font-family: $main-font;
                font-style: normal;
                font-weight: 300;
                font-size: 21px;
                line-height: 32px;
                color: #7D7987;
                margin-bottom: 45px;
                width:500px;
            }

            &-btn {
                outline:none;
                border:1px solid #458FF6;
                cursor:pointer;
                background: white;
                border-radius: 55px;
                color:#458FF6;
                font-family: $main-font;
                font-weight: bold;
                font-size: 18px;
                line-height: 60px;
                width:200px;
                height:60px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    color:white;
                    background-color:#458FF6;
                    transition:0.4s;
                }
            }
        }

        &-right {
            background-image:url(../img/illustration1.svg);
            height:598px;
            width:693px;
        }
    }
}

.services {
    padding-top:192px;

    &__vector {
        background-image:url(../img/vector.svg);
        height:671px;
        width:937px;
        position:absolute;
        transform: rotate(21.46deg) translate(-350px, 40%);
        opacity:92.66%;
        z-index:-100;
        background-repeat:no-repeat;
        // transform:translate(600px, 50%)

    }

    &__dots {
        background-image:url(../img/dots.svg);
        height:115px;
        width:131px;
        position:absolute;
        background-repeat:no-repeat;
        transform:translate(1100px, 500%);
        z-index:-100;
        
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-article-big {
            font-family: $main-font;
            font-weight: bold;
            font-size: 36px;
            line-height: 56px;
            color: #000000;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &::after {
                content:"";
                border-bottom:2px solid black;
                width: 56px;
                display: block;
                margin-top: 26px;
                margin-bottom: 33px;

            }
        }

        &-article-small {
            font-family: $main-font;
            font-weight: 300;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #7D7987;
            margin-bottom: 80px;
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap:36px;
            padding-bottom:69px;

            &-item {
                box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
                border-radius: 20px;
                height: 354px;
                width: 350px;
                padding-top:54px;
                padding-left: 39px;
                padding-right: 45px;
                padding-bottom: 46px;
                background:white;
                display: flex;
                flex-direction: column;
                align-items:flex-start;
                position:relative;
                transition:0.2s;

                &:hover {
                    background-color: rgba(69.0, 143.0, 246.0, 0.5);
                    transform:scale(1.02);
                    transition: 0.4s;
                }

                &-img {
                    position:absolute;
                }

                &-article {
                    position:relative;
                    padding-top:110px;
                }

                &-big {
                    font-family: $main-font;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 56px;
                    color: #000000;

                }

                &-small {
                    font-family: $main-font;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 28px;
                    color: #7D7987;
                }
            }
        }

        &-button {
            outline:none;
            border:1px solid #458FF6;
            cursor:pointer;
            background: white;
            border-radius: 55px;
            color:#458FF6;
            font-family: $main-font;
            font-weight: bold;
            font-size: 18px;
            line-height: 60px;
            width:200px;
            height:60px;
            display: flex;
            text-align:center;
            justify-content: center;
            align-items: center;

            &:hover {
                color:white;
                background-color:#458FF6;
                transition:0.4s;
            }

        }
    }
}

.providers {
    padding-top:220px;

    &__inner {

        &-item {
            display: flex;
            justify-content: space-between; 

            &:first-child {
                margin-bottom: 220px;
            }

            &:last-child {
                flex-direction: row-reverse;
            }

            &-article {
                padding-top: 70px;

                &-big {
                    font-family: $main-font;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 56px;
                    color: #000000;

                    &::after {
                        content:"";
                        border-bottom:3px solid black;
                        width: 56px;
                        display: block;
                        margin-top: 26px;
                        margin-bottom: 31px;
                    }
                }

                &-small {
                    font-family: $main-font;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 30px;
                    color: #7D7987;
                    margin-bottom: 25px;
                    width:300px;
                }

                &-button {
                    outline:none;
                    border:1px solid #458FF6;
                    cursor:pointer;
                    background: white;
                    border-radius: 55px;
                    color:#458FF6;
                    font-family: $main-font;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 60px;
                    width:200px;
                    height:60px;
                    display: flex;
                    text-align:center;
                    justify-content: center;
                    align-items: center;
        
                    &:hover {
                        color:white;
                        background-color:#458FF6;
                        transition:0.4s;
                    }

                    &-arrow {
                        margin-left: 10px;
                    }
                    
                }
            }
        }
    }
}

.testimonials {
    padding-top:260px;
    &__inner {
        display: flex;
        flex-direction: column;

        &-dots {
            background-image:url(../img/dots.svg);
            height:115px;
            width:131px;
            position:absolute;
            background-repeat:no-repeat;
            z-index:-100;
            transform: translate(-50px, 250%);
        }


        &-item {
            background:linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            padding-top: 64px;
            padding-left: 118px;
            padding-right: 118px;
            padding-bottom: 79px;
            position:relative;
            margin-bottom: 42px;

            &-dots {
                background-image:url(../img/dots2.svg);
                height:115px;
                width:131px;
                position:absolute;
                background-repeat:no-repeat;
                transform:translate(1020px, -70%);

            }

            &-title {
                font-family: $main-font;
                font-weight: bold;
                font-size: 36px;
                line-height: 48px;
                color: #FFFFFF;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &::after {
                    content:"";
                    border-bottom:3px solid white;
                    width: 56px;
                    display: block;
                    margin-top: 26px;
                    margin-bottom: 31px;
                }
            }

            &-article {
                display: flex;
                align-items:center;
                justify-content: space-evenly;
                padding-top: 66px;

                &-name {
                    font-family: $main-font;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 30px;
                    color: #FFFFFF;
                }

                &-name-small {
                    font-family: $main-font;
                    font-size: 18px;
                    color: rgba(255, 255, 255, 0.85);
                }

                &-main {
                    font-family: $main-font;
                    font-size: 19px;
                    line-height: 30px;
                    color: rgba(255, 255, 255, 0.9);
                }
            }
        }
    }

    &__slider {
        display: flex;
        justify-content: space-between;
        width:336px;
        align-self:center;


        &-ellipse1 {
            margin-right: 20px;
        }

        &-dots {
            display: flex;
        }
    }
}

.article {
    padding-top:222px;
    padding-bottom: 200px;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center ;

        &-dots {
            background-image:url(../img/dots.svg);
            height:115px;
            width:131px;
            position:absolute;
            background-repeat:no-repeat;
            z-index:-100;
            transform: translate(-600px, 125px);
        }

        &-dots2 {
            background-image:url(../img/dots.svg);
            height:115px;
            width:131px;
            position:absolute;
            background-repeat:no-repeat;
            z-index:-100;
            transform: translate(550px, 950px);

        }

        &-vector {
            background-image:url(../img/vector2.svg);
            height:671px;
            width:937px;
            position:absolute;
            transform: translate(770px, 100px);
            opacity:92.66%;
            z-index:-100;
            background-repeat:no-repeat;
            background-size: contain;
            max-width: 100%;
        }


        &-title {
            text-align: center;
            font-family: $main-font;
            font-weight: bold;
            font-size: 36px;
            line-height: 56px;
            color: #000000;
            display: flex;
            flex-direction: column;
            align-items:center;

            &::after {
                content:"";
                border-bottom:3px solid black;
                width: 56px;
                display: block;
                margin-top: 26px;
                margin-bottom: 79px;
            }
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap:58px;
            padding-bottom:69px;

            &-item {
                box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
                border-radius: 20px;
                display: flex;
                flex-direction:column;
                background:white;
                
                &-img {
                    background-image: url(../img/article1.svg);
                    height:246px;
                    width:369px;
                    background-repeat:no-repeat;
                    background-position: center center;
                    background-size:100%;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }

                &-img2 {
                    background-image: url(../img/article2.svg);
                    height:246px;
                    width:369px;
                    background-repeat:no-repeat;
                    background-position: center center;
                    background-size:100%;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }

                &-img3 {
                    background-image: url(../img/article3.svg);
                    height:246px;
                    width:369px;
                    background-repeat:no-repeat;
                    background-position: center center;
                    background-size:100%;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }

                &-article {
                    display: flex;
                    flex-direction:column;
                    justify-content: center;
                    padding-top:24px;
                    padding-left: 33px;
                    padding-bottom: 35px;

                    &-big {
                        font-family: $main-font;
                        font-weight: bold;
                        font-size: 21px;
                        line-height: 32px;
                        color: #000000;
                        margin-bottom: 12px;
                    }

                    &-small {
                        font-family: $main-font;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 28px;
                        color: #3c3942;
                        margin-bottom: 25px;
                    }

                    &-link {
                        font-family: $main-font;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 28px;
                        color: #4089ED;
                        mix-blend-mode: normal;
                        text-decoration: none;
                        transform:translatex(0px);
                        transition:0.2s;

                        &-arrow {
                            margin-left: 10px;
                        }

                        &:hover {
                            transform:translatex(10px);
                            color:#1e4b8a;
                            text-decoration: underline;
                            transition:0.4s;
                        }
                    }
                }
            }
        }

        &-button {
            outline:none;
            border:1px solid #458FF6;
            cursor:pointer;
            background: white;
            border-radius: 55px;
            color:#458FF6;
            font-family: $main-font;
            font-weight: bold;
            font-size: 18px;
            line-height: 60px;
            width:200px;
            height:60px;
            display: flex;
            text-align:center;
            justify-content: center;
            align-items: center;
            &:hover {
                color:white;
                background-color:#458FF6;
                transition:0.4s;
            }
        }
    }
}

.footer {
    background:linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    padding-top:119px;
    // padding-left: 100px;
    padding-bottom: 113px;
    // padding-right: 240px;


    &__inner {
        display: flex;
        justify-content: space-between;
        align-content: center;

        &-dots {
            background-image:url(../img/dots2.svg);
            height:115px;
            width:131px;
            position:absolute;
            background-repeat:no-repeat;
            z-index:100;
            transform: translate(-130px, 220px);
        }

        &-article {
            &-logo {
                display: flex;
                align-items:center;
                margin-bottom: 22px;

                &:hover>.footer__inner-article-logo-t {
                    transform:rotate(360deg);
                    transition:0.5s;
                }

                &-t {
                    background:white;
                    padding:20px;
                    height:20px;
                    width:20px;
                    border-radius:100px;
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    font-family: $main-font;
                    font-weight: bold;
                    font-size: 26px;
                    line-height: 33px;
                    color: #5B9BF3;
                    margin-right: 5px;
                    transform: rotate(0deg);
                    transition:0.4s;
                }

                &-text {
                    font-family: $main-font;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 30px;
                    color: #FFFFFF;
                }
            }

            &-main {
                font-family: $main-font;
                font-weight: 300;
                font-size: 18px;
                line-height: 28px;
                color: #FFFFFF;
                margin-bottom: 31px;
            }

            &-copyright {
                font-family: $main-font;
                font-weight: 300;
                font-size: 16px;
                line-height: 28px;
                color: #FFFFFF;
            }
        }

        &-list {
            a {
                text-decoration: none;
                font-family: $main-font;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 38px;
                color: #FFFFFF;

                &:hover {
                    color:#3c3942;
                    text-decoration:underline;
                    transition:0.4s;
                }
            }

            list-style:none;

            &-item {
                &-title {
                    font-family: $main-font;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 60px;
                    color: #FFFFFF;
                }
            }

        }
    }
}

@media (max-width:1250px) {
    .container {
        width:1000px;
        margin:0 auto;
    }

    .landing {
        &__inner {
            &-right {
                background-size:contain;
                background-repeat:no-repeat;
            }
        }
    }

    .services {
        padding-top:20px;
    }

    .providers {
        padding-top:100px;
        &__inner {
            &-item {
                &-img {
                    width:600px;
                }

                &:first-child {
                    margin-bottom: 100px;
                }
            }
        }
    }

    .testimonials {
        padding-top:100px;
        &__inner {
            &-item {
                &-article {
                    padding-top:0px;
                }
            }
        }
    }

    .article {
        padding-top:100px;
    }
}


@media (max-width:1230px) {

    .services {
        &__inner {
            &-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap:36px;
                padding-bottom:69px;
            }
        }
    }

    .article {
        &__inner {
            &-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(1, 1fr);
                gap:58px;
                padding-bottom:69px;
            }
        }
    }
}

@media (max-width:1000px) {
    .container {
        width:800px;
        margin:0 auto;
    }

    .header {
        &__inner {

            &-burger {
                display: block;
                margin-left: 25px;
                margin-right: 15px;

                span {
                    display: block;
                    border: 2px solid #458FF6;
                    width: 20px;
                    border-radius: 15px;
                    margin-bottom: 2px;
                }
            }
            &-logo {
                &-text {
                    display: none;
                }
            }

            &-menu {
                display: none;
            }
        }
    }

    .landing {
        &__inner {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            &-left {
                display: flex;
                flex-direction: column;
                align-items: center;

                &-article {
                    &-big {
                        width:auto;
                        text-align:center;
                    }

                    &-small {
                        width:500px;
                        text-align: center;
                    }
                }
            }

            &-right {
                position:absolute;
                z-index:-100;
                opacity:0.1;
            }
        }
    }

    .services {
        padding-top:100px;

        &__inner {
            &-grid {
                &-item {
                    text-align:center;

                    &-img {
                        display: flex;
                        align-self:center;
                    }
                }
            }
        }
    }

    .providers {
        padding-top:40px;
        &__inner {
            &-item {
                display: flex;
                justify-content: center;
                align-items:center;

                &-article {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    &-big {
                        text-align:center;
                        display: flex;
                        flex-direction:column;
                        align-items: center;
                    }

                    &-small {
                        width:500px;
                        text-align:center;
                    }
                }

                &-img {
                    opacity:0.1;
                    position:absolute;
                    z-index:-100;
                }
            }
        }
    }

    .testimonials {
        &__inner {
            &-item {
                p {
                    text-align: center;
                }
                &-article {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &-name {
                        display: flex;
                        flex-direction:column;
                        align-items: center;
                        justify-content: center;
                    }

                    &-main {
                        text-align: center;
                    }
                }
            }
        }

        &__slider {
            display: none;
        }
    }

    .article {
        padding-top:0px;
    }
}

@media (max-width:810px) {
    .container {
        width:500px;
    }

    .services {
        &__inner {
            &-grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(1, 1fr);
                gap:58px;
                padding-bottom:69px;
            }
        }
    }

    .testimonials {
        &__inner {
            &-item {
                &-article {
                    &-name {
                        &-big {
                            margin-bottom: 5px;
                        }

                        &-small {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    .article {
        padding-bottom: 20px;
        &__inner {
            &-grid {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }
        }
    }

    .footer {
        padding-top: 10px;
        &__inner {
            &-dots {
                display: none;
            }

            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;

            &-list {
                margin-bottom: 20px;
                background-color: rgba(54, 82, 118, 0.4);
                padding:20px;
                border-radius:50px;
            }

            &-article {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }
}

@media (max-width:400px) {
    .container {
        width:300px;
    }

    .landing {
        &__inner {
            &-right {
                display: none;
            }

            &-left {
                padding-top: 20px;
                &-article {
                    &-big {
                        width:300px;
                    }

                    &-small {
                        width:300px;

                    }
                }
            }
        }
    }

    .services {
        &__vector {
            display: none;
        }
    }

    .article {
        &__inner {
            &-vector {
                display: none;
            }

            &-dots2 {
                display: none;
            }
        }
    }

    .providers {
        p {
            width:300px;
        }
        &__inner {
            &-item {
                &-img {
                    display: none;
                }

                &-article {
                    padding-top: 10px;
                }
            }
        }
    }

    .testimonials {
        display: none;
    }

    .article {
        padding-top: 60px;
    }
}



